div{
    border: 2px solid blue;
    height: 470px;
    width: 80%;
    border-radius: 20px;
    background-color:darkorange;
    color: azure;
    margin-left: 100px;
    padding:50px;
    box-shadow: 4px 4px 4px red;
}
h1{
    text-align: center;
    color:#000f;
}
hr{
    width: 90%;
    color:#000f;
}



